includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    # The level 9 is the highest level
    level: 5

    ignoreErrors:
        -
            messages:
                - '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$email\.$#'
            path: src/Services/PaymentHandlers/Paystack.php
        -
            messages:
                - '#^Access to an undefined property Illuminate\\Foundation\\Auth\\User\:\:\$email\.$#'
            paths:
                - src/Services/PaymentHandlers/Flutterwave.php

    excludePaths:
        - ./*/*/FileToBeExcluded.php

    checkMissingIterableValueType: false
